.scoreboard {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 25vh;
    gap: 2rem;
    min-height: 100vh;
}

.scoreboard-table {
    border-collapse: collapse;
    width: min(90%, 400px);
    table-layout: fixed;
}

.scoreboard-table th,
.scoreboard-table td {
    text-align: center;
    padding: 0.5rem;
}

.scoreboard-table th {
    font-weight: 700;
}

@media (max-width: 600px) {
    .scoreboard { margin-top: 10vh; }
}